.mobile-menu__wrap
.mobile-menu__container 
    .mobile-menu__close-btn
    ul.mobile-menu__list 
        li.mobile-menu__item 
            a.mobile-menu__link(href="#") О нас
        li.mobile-menu__item 
            a.mobile-menu__link(href="#") Услуги
            .mobile-menu__link_more
        li.mobile-menu__item 
            a.mobile-menu__link(href="#") Вакансии 
        li.mobile-menu__item 
            a.mobile-menu__link(href="#") Новости 
        li.mobile-menu__item 
            a.mobile-menu__link(href="#") Соглашения
            .mobile-menu__link_more