section.copyright__container
    p.copyright__text Copyright © 2018 Toxin отель. Все права защищены.
    .copyright__social-links 
        a.copyright__social-icon.copyright__social-icon1
        a.copyright__social-icon.copyright__social-icon2
        a.copyright__social-icon.copyright__social-icon3

