header.header
  a(href="#").header__logo-link
    .header__logo-img
  
  
  ul.header__nav 
    li.header__nav-item 
      a.header__nav-link(href="#") О нас
    li.header__nav-item 
      a.header__nav-link(href="#") Услуги
      .header__nav-link_more
    li.header__nav-item 
      a.header__nav-link(href="#") Вакансии 
    li.header__nav-item 
      a.header__nav-link(href="#") Новости 
    li.header__nav-item 
      a.header__nav-link(href="#") Соглашения
      .header__nav-link_more

  .header__buttons
    button.header__button.header__button-signin(type="submit") Войти
    button.header__button.header__button-signup(type="submit") Зарегистрироваться

  .header__burger
    .header__burger-line
    .header__burger-line
    .header__burger-line


