.card__container 
    img.card__img(src=require('../../../img/room1.jpg'))
    .card__info
        p.card__number № 888
        p.card__luxury люкс
        p.card__price 9 990₽ в сутки
    .card__rating 
        .card__stars
            .card__star
            .card__star
            .card__star
        p.reviews  145 Отзывов
