$font-size: 14px;
$font-color: rgba(31, 32, 65, 0.5);

html {
  font-size: $font-size;
  color: $font-color;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative;
}

@import url(components/header/header.scss);
@import url(components/mobile-menu/mobile-menu.scss);
@import url(components/landing/landing.scss);
@import url(components/landing/search-form/search-form.scss);
@import url(components/footer/footer.scss);
@import url(components/footer/copyright/copyright.scss);
@import url(components/filter/filter.scss);
@import url(components/filter/card/card.scss);